[Unit]
Description=The PHP 8.0 FastCGI Process Manager
Documentation=man:php-fpm8.0(8)
After=network.target

[Service] 
Type=notify
PIDFile=/run/php/php8.0-fpm.pid
ExecStart=/usr/sbin/php-fpm8.0 --allow-to-run-as-root --nodaemonize --fpm-config /etc/php/8.0/fpm/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
